* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #f0f0f5;
  margin-bottom: 50px;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

#banner {
  background-image:url("images/panoramic.jpeg");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  height:200px;
  margin-bottom:20px;
}

#bannertext {
  padding-top:20px;
  text-align: center;
  color:#ffffff;
}

/*.img {
  width: 100%;
  height: 230px;
}*/

.textbox {
  text-align: center;
  /*max-width: 400px;*/
  margin: 20px auto;
  background-color:white;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .textbox {
    max-width: 345px;
  }
}
.textbox h3 {
  font-size: 1em;
}

/*.toggle {
  height: 450px;
}*/

.toggle .back {
  background-color: #00004d;
  color:#ffffff;
  font-weight: bold;
  display: none;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  padding:5px;
  margin-bottom: 10px;
}

.toggle:hover .back {
  display:block;
}

.toggle .front {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.toggle:hover .front {
  display:none;
}

.button {
  display:inline;
  float:right;
  border:1px solid black;
  padding:5px 10px;
  margin:10px 0;
}

.title {
  display:inline;
  float:left;
  margin-top:10px;
  padding:5px 0;
}

.shutter {
  text-align:center;
  font-size: 2em;
}

.home {
  margin-top:10px;
}

.gallery_img{
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 67%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-size 0.2s ease-out;
}

.gallery_img#img_1 { background-image: url(images/balentines.jpeg); }
.gallery_img#img_2 { background-image: url("images/beach2.jpeg"); }
.gallery_img#img_3 { background-image: url("images/blackcat.jpeg"); }
.gallery_img#img_4 { background-image: url("images/firefox.jpeg"); }
.gallery_img#img_5 { background-image: url("images/city.jpg"); }
.gallery_img#img_6 { background-image: url("images/palmtree.jpg"); }
