* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #f0f0f5;
}

#banner {
  background-image:url("images/panoramic.jpeg");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  height:200px;
  margin-bottom:20px;
}

.img {
  width: 100%;
}

.textbox {
  text-align: center;
  max-width: 400px;
  margin: 20px auto;
  background-color:white;
  padding-bottom: 20px;
}

.textbox h3 {
  font-size: 1em;
}

.toggle {
  height: 50px;
}

.toggle .back {
  background-color: #00004d;
  color:#ffffff;
  display: none;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  padding:5px;
}

.toggle:hover .back {
  display:block;
}

.toggle .front {
  background-color: white;
}

.toggle:hover .front {
  display:none;
}
